# pandas

Import Libraries

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

Import Dataset

In [4]:
df=pd.read_csv("5000 Sales Records.csv")

load 5 rows

In [6]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.1,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.7,117.11,1854591.2,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88

***

### Indexing and Selection

select single column

In [7]:
df["Item Type"]

0                Baby Food
1                   Snacks
2                Beverages
3                   Cereal
4                   Snacks
               ...
4996               Clothes
4997             Baby Food
4998               Clothes
4999    Sub-Saharan Africa
5000    Sub-Saharan Africa
Name: Item Type, Length: 5001, dtype: object

select multiple columns

In [11]:
df[['Region', 'Country', 'Sales Channel']]

,Region,Country,Sales Channel
0,Central America and the Caribbean,Antigua and Barbuda,Online
1,Central America and the Caribbean,Panama,Offline
2,Europe,Czech Republic,Offline
3,Asia,North Korea,Offline
4,Asia,Sri Lanka,Offline
...,...,...,...
4996,Middle East and North Africa,Azerbaijan,Offline
4997,Asia,Myanmar,Offline
4998,Europe,Finland,Online
4999,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa
5000,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa

Select a row by its index label

In [12]:
df.loc[0]

Region            Central America and the Caribbean
Country                        Antigua and Barbuda
Item Type                                 Baby Food
Sales Channel                                Online
Order Priority                                    M
Order Date                               12/20/2013
Order ID                                  957081544
Ship Date                                 1/11/2014
Units Sold                                      552
Unit Price                                   255.28
Unit Cost                                    159.42
Total Revenue                             140914.56
Total Cost                                 87999.84
Total Profit                               52914.72
Name: 0, dtype: object

Select multiple rows by index

In [13]:
df.loc[[0, 1, 2]]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.1,151892.62,74823.48

### Boolean Indexing

select rows where 'Sales Channel' is 'Online'

In [15]:
df[df['Sales Channel'] == 'Online']

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
7,Europe,Bosnia and Herzegovina,Clothes,Online,M,10/14/2013,919133651,11/4/2013,927,109.28,35.84,101302.56,33223.68,68078.88
9,Sub-Saharan Africa,Ethiopia,Baby Food,Online,M,4/13/2015,192993152,5/7/2015,9817,255.28,159.42,2506083.76,1565026.14,941057.62
11,Middle East and North Africa,Oman,Cosmetics,Online,M,5/12/2013,741101920,5/17/2013,7382,437.2,263.33,3227410.4,1943902.06,1283508.34
14,Central America and the Caribbean,Saint Vincent and the Grenadines,Baby Food,Online,L,11/28/2010,504313504,12/3/2010,6428,255.28,159.42,1640939.84,1024751.76,616188.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4983,Asia,South Korea,Clothes,Online,M,7/3/2010,422709548,8/4/2010,8004,109.28,35.84,874677.12,286863.36,587813.76
4986,Asia,Sri Lanka,Office Supplies,Online,C,12/1/2012,307045400,12/2/2012,412,651.21,524.96,268298.52,216283.52,52015
4988,Middle East and North Africa,United Arab Emirates,Household,Online,H,8/31/2014,925384271,10/12/2014,625,668.27,502.54,417668.75,314087.5,103581.25
4989,Asia,Thailand,Snacks,Online,C,8/8/2012,615522181,9/20/2012,5547,152.58,97.44,846361.26,540499.68,305861.58
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.8,337254.4,691070.4

Select rows where 'Units Sold' is greater than 500

In [16]:
df[df['Units Sold'] > 500]

TypeError: '>' not supported between instances of 'str' and 'int'

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          5001 non-null   object
 1   Country         5001 non-null   object
 2   Item Type       5001 non-null   object
 3   Sales Channel   5001 non-null   object
 4   Order Priority  5001 non-null   object
 5   Order Date      5001 non-null   object
 6   Order ID        5001 non-null   object
 7   Ship Date       5001 non-null   object
 8   Units Sold      5001 non-null   object
 9   Unit Price      5001 non-null   object
 10  Unit Cost       5001 non-null   object
 11  Total Revenue   5001 non-null   object
 12  Total Cost      5001 non-null   object
 13  Total Profit    5001 non-null   object
dtypes: object(14)
memory usage: 547.1+ KB

we can not use any operation on object datatype

In [18]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.1,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.7,117.11,1854591.2,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88

In [20]:
df[['Order ID','Units Sold']]=df[['Order ID','Units Sold']].astype().astype(int)

ValueError: invalid literal for int() with base 10: 'Sub-Saharan Africa'

In [23]:
numeric_columns = ['Units Sold', 'Unit Price', 'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552.0,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167.0,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778.0,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016.0,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542.0,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077.0,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204.0,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410.0,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN
5000,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          5001 non-null   object
 1   Country         5001 non-null   object
 2   Item Type       5001 non-null   object
 3   Sales Channel   5001 non-null   object
 4   Order Priority  5001 non-null   object
 5   Order Date      5001 non-null   object
 6   Order ID        5001 non-null   object
 7   Ship Date       5001 non-null   object
 8   Units Sold      4999 non-null   float64
 9   Unit Price      4999 non-null   float64
 10  Unit Cost       4999 non-null   float64
 11  Total Revenue   4999 non-null   float64
 12  Total Cost      4999 non-null   float64
 13  Total Profit    4999 non-null   float64
dtypes: float64(6), object(8)
memory usage: 547.1+ KB

In [25]:
df.tail()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077.0,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204.0,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410.0,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN
5000,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN

Select rows where 'Units Sold' is greater than 9990

In [46]:
df[df['Units Sold'] > 9990]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
1508,Europe,United Kingdom,Personal Care,Offline,H,12/23/2013,387098824,1/4/2014,9999.0,81.73,56.67,817218.27,566643.33,250574.94
1985,Europe,Ireland,Clothes,Online,C,10/2/2012,261187350,10/3/2012,9996.0,109.28,35.84,1092362.88,358256.64,734106.24
2564,Central America and the Caribbean,Dominica,Baby Food,Online,C,6/26/2011,446438729,8/6/2011,9996.0,255.28,159.42,2551778.88,1593562.32,958216.56
3378,Asia,Thailand,Fruits,Online,M,11/30/2011,844245946,1/1/2012,9991.0,9.33,6.92,93216.03,69137.72,24078.31
3923,Europe,Portugal,Office Supplies,Offline,C,2/17/2012,775849616,3/5/2012,9997.0,651.21,524.96,6510146.37,5248025.12,1262121.25

In [42]:
df.loc[df['Units Sold'] > 9990,'Order Date']

1508    12/23/2013
1985     10/2/2012
2564     6/26/2011
3378    11/30/2011
3923     2/17/2012
Name: Order Date, dtype: object

loc[] and iloc[] for Label-based and Positional Indexing

In [39]:
df.loc[0:10, ['Region', 'Country', 'Total Revenue']]

,Region,Country,Total Revenue
0,Central America and the Caribbean,Antigua and Barbuda,140914.56
1,Central America and the Caribbean,Panama,330640.86
2,Europe,Czech Republic,226716.10
3,Asia,North Korea,1854591.20
4,Asia,Sri Lanka,1150758.36
5,Middle East and North Africa,Morocco,3923.04
6,Australia and Oceania,Federated States of Micronesia,902434.24
7,Europe,Bosnia and Herzegovina,101302.56
8,Middle East and North Africa,Afghanistan,966144.48
9,Sub-Saharan Africa,Ethiopia,2506083.76
10,Middle East and North Africa,Turkey,2412081.84

iloc[] (Positional Indexing):

In [40]:
df.iloc[0:10, 0:3]

,Region,Country,Item Type
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food
1,Central America and the Caribbean,Panama,Snacks
2,Europe,Czech Republic,Beverages
3,Asia,North Korea,Cereal
4,Asia,Sri Lanka,Snacks
5,Middle East and North Africa,Morocco,Personal Care
6,Australia and Oceania,Federated States of Micronesia,Clothes
7,Europe,Bosnia and Herzegovina,Clothes
8,Middle East and North Africa,Afghanistan,Clothes
9,Sub-Saharan Africa,Ethiopia,Baby Food

###  Conditional Selection

Using & (AND Condition):

In [53]:
df.loc[(df['Sales Channel'] == 'Online') & (df['Units Sold'] > 9990)]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
1985,Europe,Ireland,Clothes,Online,C,10/2/2012,261187350,10/3/2012,9996.0,109.28,35.84,1092362.88,358256.64,734106.24
2564,Central America and the Caribbean,Dominica,Baby Food,Online,C,6/26/2011,446438729,8/6/2011,9996.0,255.28,159.42,2551778.88,1593562.32,958216.56
3378,Asia,Thailand,Fruits,Online,M,11/30/2011,844245946,1/1/2012,9991.0,9.33,6.92,93216.03,69137.72,24078.31

Using | (OR Condition)