# pandas

Import Libraries

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

Import Dataset

In [4]:
df=pd.read_csv("5000 Sales Records.csv")

load 5 rows

In [6]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.1,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.7,117.11,1854591.2,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88

***

### Indexing and Selection

select single column

In [7]:
df["Item Type"]

0                Baby Food
1                   Snacks
2                Beverages
3                   Cereal
4                   Snacks
               ...
4996               Clothes
4997             Baby Food
4998               Clothes
4999    Sub-Saharan Africa
5000    Sub-Saharan Africa
Name: Item Type, Length: 5001, dtype: object

select multiple columns

In [11]:
df[['Region', 'Country', 'Sales Channel']]

,Region,Country,Sales Channel
0,Central America and the Caribbean,Antigua and Barbuda,Online
1,Central America and the Caribbean,Panama,Offline
2,Europe,Czech Republic,Offline
3,Asia,North Korea,Offline
4,Asia,Sri Lanka,Offline
...,...,...,...
4996,Middle East and North Africa,Azerbaijan,Offline
4997,Asia,Myanmar,Offline
4998,Europe,Finland,Online
4999,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa
5000,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa

Select a row by its index label

In [12]:
df.loc[0]

Region            Central America and the Caribbean
Country                        Antigua and Barbuda
Item Type                                 Baby Food
Sales Channel                                Online
Order Priority                                    M
Order Date                               12/20/2013
Order ID                                  957081544
Ship Date                                 1/11/2014
Units Sold                                      552
Unit Price                                   255.28
Unit Cost                                    159.42
Total Revenue                             140914.56
Total Cost                                 87999.84
Total Profit                               52914.72
Name: 0, dtype: object

Select multiple rows by index

In [13]:
df.loc[[0, 1, 2]]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.1,151892.62,74823.48

### Boolean Indexing

select rows where 'Sales Channel' is 'Online'