# pandas

Import Libraries

In [160]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

Import Dataset

In [161]:
df=pd.read_csv("5000 Sales Records.csv")

load 5 rows

In [162]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.1,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.7,117.11,1854591.2,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88

***

### Indexing and Selection

select single column

In [163]:
df["Item Type"]

0                Baby Food
1                   Snacks
2                Beverages
3                   Cereal
4                   Snacks
               ...
4996               Clothes
4997             Baby Food
4998               Clothes
4999    Sub-Saharan Africa
5000    Sub-Saharan Africa
Name: Item Type, Length: 5001, dtype: object

select multiple columns

In [164]:
df[['Region', 'Country', 'Sales Channel']]

,Region,Country,Sales Channel
0,Central America and the Caribbean,Antigua and Barbuda,Online
1,Central America and the Caribbean,Panama,Offline
2,Europe,Czech Republic,Offline
3,Asia,North Korea,Offline
4,Asia,Sri Lanka,Offline
...,...,...,...
4996,Middle East and North Africa,Azerbaijan,Offline
4997,Asia,Myanmar,Offline
4998,Europe,Finland,Online
4999,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa
5000,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa

Select a row by its index label

In [165]:
df.loc[0]

Region            Central America and the Caribbean
Country                        Antigua and Barbuda
Item Type                                 Baby Food
Sales Channel                                Online
Order Priority                                    M
Order Date                               12/20/2013
Order ID                                  957081544
Ship Date                                 1/11/2014
Units Sold                                      552
Unit Price                                   255.28
Unit Cost                                    159.42
Total Revenue                             140914.56
Total Cost                                 87999.84
Total Profit                               52914.72
Name: 0, dtype: object

Select multiple rows by index

In [166]:
df.loc[[0, 1, 2]]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.1,151892.62,74823.48

### Boolean Indexing

select rows where 'Sales Channel' is 'Online'

In [167]:
df[df['Sales Channel'] == 'Online']

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
7,Europe,Bosnia and Herzegovina,Clothes,Online,M,10/14/2013,919133651,11/4/2013,927,109.28,35.84,101302.56,33223.68,68078.88
9,Sub-Saharan Africa,Ethiopia,Baby Food,Online,M,4/13/2015,192993152,5/7/2015,9817,255.28,159.42,2506083.76,1565026.14,941057.62
11,Middle East and North Africa,Oman,Cosmetics,Online,M,5/12/2013,741101920,5/17/2013,7382,437.2,263.33,3227410.4,1943902.06,1283508.34
14,Central America and the Caribbean,Saint Vincent and the Grenadines,Baby Food,Online,L,11/28/2010,504313504,12/3/2010,6428,255.28,159.42,1640939.84,1024751.76,616188.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4983,Asia,South Korea,Clothes,Online,M,7/3/2010,422709548,8/4/2010,8004,109.28,35.84,874677.12,286863.36,587813.76
4986,Asia,Sri Lanka,Office Supplies,Online,C,12/1/2012,307045400,12/2/2012,412,651.21,524.96,268298.52,216283.52,52015
4988,Middle East and North Africa,United Arab Emirates,Household,Online,H,8/31/2014,925384271,10/12/2014,625,668.27,502.54,417668.75,314087.5,103581.25
4989,Asia,Thailand,Snacks,Online,C,8/8/2012,615522181,9/20/2012,5547,152.58,97.44,846361.26,540499.68,305861.58
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.8,337254.4,691070.4

Select rows where 'Units Sold' is greater than 500

In [168]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.1,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.7,117.11,1854591.2,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88

## converting columns to float data type

In [169]:
numeric_columns = ['Units Sold', 'Unit Price', 'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552.0,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167.0,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778.0,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016.0,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542.0,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077.0,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204.0,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410.0,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN
5000,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          5001 non-null   object
 1   Country         5001 non-null   object
 2   Item Type       5001 non-null   object
 3   Sales Channel   5001 non-null   object
 4   Order Priority  5001 non-null   object
 5   Order Date      5001 non-null   object
 6   Order ID        5001 non-null   object
 7   Ship Date       5001 non-null   object
 8   Units Sold      4999 non-null   float64
 9   Unit Price      4999 non-null   float64
 10  Unit Cost       4999 non-null   float64
 11  Total Revenue   4999 non-null   float64
 12  Total Cost      4999 non-null   float64
 13  Total Profit    4999 non-null   float64
dtypes: float64(6), object(8)
memory usage: 547.1+ KB

In [171]:
df.tail()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077.0,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204.0,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410.0,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN
5000,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN

Select rows where 'Units Sold' is greater than 9990

In [172]:
df[df['Units Sold'] > 9990]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
1508,Europe,United Kingdom,Personal Care,Offline,H,12/23/2013,387098824,1/4/2014,9999.0,81.73,56.67,817218.27,566643.33,250574.94
1985,Europe,Ireland,Clothes,Online,C,10/2/2012,261187350,10/3/2012,9996.0,109.28,35.84,1092362.88,358256.64,734106.24
2564,Central America and the Caribbean,Dominica,Baby Food,Online,C,6/26/2011,446438729,8/6/2011,9996.0,255.28,159.42,2551778.88,1593562.32,958216.56
3378,Asia,Thailand,Fruits,Online,M,11/30/2011,844245946,1/1/2012,9991.0,9.33,6.92,93216.03,69137.72,24078.31
3923,Europe,Portugal,Office Supplies,Offline,C,2/17/2012,775849616,3/5/2012,9997.0,651.21,524.96,6510146.37,5248025.12,1262121.25

In [173]:
df.loc[df['Units Sold'] > 9990,'Order Date']

1508    12/23/2013
1985     10/2/2012
2564     6/26/2011
3378    11/30/2011
3923     2/17/2012
Name: Order Date, dtype: object

loc[] and iloc[] for Label-based and Positional Indexing

In [174]:
df.loc[0:10, ['Region', 'Country', 'Total Revenue']]

,Region,Country,Total Revenue
0,Central America and the Caribbean,Antigua and Barbuda,140914.56
1,Central America and the Caribbean,Panama,330640.86
2,Europe,Czech Republic,226716.10
3,Asia,North Korea,1854591.20
4,Asia,Sri Lanka,1150758.36
5,Middle East and North Africa,Morocco,3923.04
6,Australia and Oceania,Federated States of Micronesia,902434.24
7,Europe,Bosnia and Herzegovina,101302.56
8,Middle East and North Africa,Afghanistan,966144.48
9,Sub-Saharan Africa,Ethiopia,2506083.76
10,Middle East and North Africa,Turkey,2412081.84

iloc[] (Positional Indexing):

In [175]:
df.iloc[0:10, 0:3]

,Region,Country,Item Type
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food
1,Central America and the Caribbean,Panama,Snacks
2,Europe,Czech Republic,Beverages
3,Asia,North Korea,Cereal
4,Asia,Sri Lanka,Snacks
5,Middle East and North Africa,Morocco,Personal Care
6,Australia and Oceania,Federated States of Micronesia,Clothes
7,Europe,Bosnia and Herzegovina,Clothes
8,Middle East and North Africa,Afghanistan,Clothes
9,Sub-Saharan Africa,Ethiopia,Baby Food

###  Conditional Selection

Using & (AND Condition):

In [176]:
df.loc[(df['Sales Channel'] == 'Online') & (df['Units Sold'] > 9990)]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
1985,Europe,Ireland,Clothes,Online,C,10/2/2012,261187350,10/3/2012,9996.0,109.28,35.84,1092362.88,358256.64,734106.24
2564,Central America and the Caribbean,Dominica,Baby Food,Online,C,6/26/2011,446438729,8/6/2011,9996.0,255.28,159.42,2551778.88,1593562.32,958216.56
3378,Asia,Thailand,Fruits,Online,M,11/30/2011,844245946,1/1/2012,9991.0,9.33,6.92,93216.03,69137.72,24078.31

Using | (OR Condition)

In [177]:
df[(df['Country'] == 'USA') | (df['Units Sold'] < 10)]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
582,Asia,Brunei,Baby Food,Online,C,4/19/2012,918961560,5/24/2012,2.0,255.28,159.42,510.56,318.84,191.72
664,North America,United States of America,Fruits,Online,M,12/9/2014,158660447,1/9/2015,7.0,9.33,6.92,65.31,48.44,16.87
1046,Europe,Bulgaria,Household,Online,C,3/21/2014,129902875,4/24/2014,2.0,668.27,502.54,1336.54,1005.08,331.46
1405,Sub-Saharan Africa,Rwanda,Clothes,Online,M,10/23/2013,410077846,12/2/2013,2.0,109.28,35.84,218.56,71.68,146.88
1435,Australia and Oceania,East Timor,Beverages,Offline,L,10/11/2015,309510886,10/17/2015,4.0,47.45,31.79,189.80,127.16,62.64
2244,Europe,Bosnia and Herzegovina,Office Supplies,Offline,C,5/2/2010,152746713,5/8/2010,2.0,651.21,524.96,1302.42,1049.92,252.50
3284,Central America and the Caribbean,Saint Kitts and Nevis,Clothes,Offline,L,10/14/2013,532441079,11/8/2013,2.0,109.28,35.84,218.56,71.68,146.88
3562,Sub-Saharan Africa,Central African Republic,Vegetables,Online,H,5/20/2017,310828816,6/24/2017,9.0,154.06,90.93,1386.54,818.37,568.17

---

# !!! how to check every element is of same data type or not

In [178]:
df.loc[df['Order ID'].values==False]

Empty DataFrame
Columns: [Region, Country, Item Type, Sales Channel, Order Priority, Order Date, Order ID, Ship Date, Units Sold, Unit Price, Unit Cost, Total Revenue, Total Cost, Total Profit]
Index: []

---

## delete rows

In [179]:
df=df.drop([4999,5000])

In [180]:
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552.0,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167.0,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778.0,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016.0,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542.0,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,Sub-Saharan Africa,Liberia,Cosmetics,Offline,M,6/17/2012,374724614,6/23/2012,8195.0,437.20,263.33,3582854.00,2157989.35,1424864.65
4995,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,217984473,4/20/2015,5305.0,668.27,502.54,3545172.35,2665974.70,879197.65
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077.0,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204.0,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410.0,109.28,35.84,1028324.80,337254.40,691070.40

## converting datatype

In [181]:
df[['Order ID',"Units Sold"]]=df[['Order ID','Units Sold']].astype(int)

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          4999 non-null   object
 1   Country         4999 non-null   object
 2   Item Type       4999 non-null   object
 3   Sales Channel   4999 non-null   object
 4   Order Priority  4999 non-null   object
 5   Order Date      4999 non-null   object
 6   Order ID        4999 non-null   int64
 7   Ship Date       4999 non-null   object
 8   Units Sold      4999 non-null   int64
 9   Unit Price      4999 non-null   float64
 10  Unit Cost       4999 non-null   float64
 11  Total Revenue   4999 non-null   float64
 12  Total Cost      4999 non-null   float64
 13  Total Profit    4999 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 546.9+ KB

###  Indexing Rows Using set_index()

In [183]:
# df.set_index('Order ID', inplace=True)

In [184]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88

### Slicing Rows

In [185]:
df[5:11]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
5,Middle East and North Africa,Morocco,Personal Care,Offline,L,11/8/2010,412882792,11/22/2010,48,81.73,56.67,3923.04,2720.16,1202.88
6,Australia and Oceania,Federated States of Micronesia,Clothes,Offline,H,3/28/2011,932776868,5/10/2011,8258,109.28,35.84,902434.24,295966.72,606467.52
7,Europe,Bosnia and Herzegovina,Clothes,Online,M,10/14/2013,919133651,11/4/2013,927,109.28,35.84,101302.56,33223.68,68078.88
8,Middle East and North Africa,Afghanistan,Clothes,Offline,M,8/27/2016,579814469,10/5/2016,8841,109.28,35.84,966144.48,316861.44,649283.04
9,Sub-Saharan Africa,Ethiopia,Baby Food,Online,M,4/13/2015,192993152,5/7/2015,9817,255.28,159.42,2506083.76,1565026.14,941057.62
10,Middle East and North Africa,Turkey,Office Supplies,Offline,C,9/25/2013,557156026,10/15/2013,3704,651.21,524.96,2412081.84,1944451.84,467630.00

### Selecting Specific Columns After a Filter

In [188]:
df[df['Region'] == 'Asia'][['Country', 'Item Type', 'Total Revenue']]

          Country        Item Type  Total Revenue
3     North Korea           Cereal     1854591.20
4       Sri Lanka           Snacks     1150758.36
12       Malaysia           Cereal     2008043.40
42           Laos             Meat     2329676.58
43     Kyrgyzstan           Snacks       12816.72
...           ...              ...            ...
4984     Cambodia       Vegetables      551688.86
4985         Laos        Cosmetics     2303169.60
4986    Sri Lanka  Office Supplies      268298.52
4989     Thailand           Snacks      846361.26
4997      Myanmar        Baby Food     1328477.12

[719 rows x 3 columns]

#  Creating a Multi-Index

Setting Multi-Index on Columns 'Region' and 'Country'

In [252]:
dg=df.set_index(['Region', 'Country'])

In [192]:
dg.head()

                                                        Item Type  \
Region                            Country
Central America and the Caribbean Antigua and Barbuda   Baby Food
                                  Panama                   Snacks
Europe                            Czech Republic        Beverages
Asia                              North Korea              Cereal
                                  Sri Lanka                Snacks

                                                       Sales Channel  \
Region                            Country
Central America and the Caribbean Antigua and Barbuda         Online
                                  Panama                     Offline
Europe                            Czech Republic             Offline
Asia                              North Korea                Offline
                                  Sri Lanka                  Offline

                                                       Order Priority  \
Region                            Country
Central America and the Caribbean Antigua and Barbuda               M
                                  Panama                            C
Europe                            Czech Republic                    C
Asia                              North Korea                       L
                                  Sri Lanka                         C

                                                        Order Date   Order ID  \
Region                            Country
Central America and the Caribbean Antigua and Barbuda   12/20/2013  957081544
                                  Panama                  7/5/2010  301644504
Europe                            Czech Republic         9/12/2011  478051030
Asia                              North Korea            5/13/2010  892599952
                                  Sri Lanka              7/20/2015  571902596

                                                        Ship Date  Units Sold  \
Region                            Country
Central America and the Caribbean Antigua and Barbuda   1/11/2014         552
                                  Panama                7/26/2010        2167
Europe                            Czech Republic        9/29/2011        4778
Asia                              North Korea           6/15/2010        9016
                                  Sri Lanka             7/27/2015        7542

                                                        Unit Price  Unit Cost  \
Region                            Country
Central America and the Caribbean Antigua and Barbuda       255.28     159.42
                                  Panama                    152.58      97.44
Europe                            Czech Republic             47.45      31.79
Asia                              North Korea               205.70     117.11
                                  Sri Lanka                 152.58      97.44

                                                        Total Revenue  \
Region                            Country
Central America and the Caribbean Antigua and Barbuda       140914.56
                                  Panama                    330640.86
Europe                            Czech Republic            226716.10
Asia                              North Korea              1854591.20
                                  Sri Lanka                1150758.36

                                                        Total Cost  \
Region                            Country
Central America and the Caribbean Antigua and Barbuda     87999.84
                                  Panama                 211152.48
Europe                            Czech Republic         151892.62
Asia                              North Korea           1055863.76
                                  Sri Lanka              734892.48

                                                        Total Profit
Region                            Country
Central America and the Caribbean Antigua and Barbuda       52914.72
                                  Panama                   119488.38
Europe                            Czech Republic            74823.48
Asia                              North Korea              798727.44
                                  Sri Lanka                415865.88

###  Accessing Data with Multi-Index

In [208]:
dg.loc[('Asia', 'China')]

C:\Users\rav\AppData\Local\Temp\ipykernel_23292\1837131207.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  dg.loc[('Asia', 'China')]

                    Item Type Sales Channel Order Priority  Order Date  \
Region Country
Asia   China        Cosmetics       Offline              H   4/15/2015
       China        Household        Online              L   3/29/2012
       China          Clothes       Offline              C   9/26/2016
       China             Meat        Online              H   2/17/2014
       China           Cereal        Online              L   7/26/2012
       China             Meat        Online              C   1/30/2015
       China        Household        Online              H  11/30/2010
       China        Household       Offline              C   12/5/2015
       China        Beverages       Offline              C    5/4/2016
       China           Cereal        Online              C  10/12/2012
       China          Clothes        Online              L  12/19/2012
       China        Beverages        Online              M   6/26/2010
       China    Personal Care       Offline              C   9/30/2015
       China    Personal Care        Online              M   8/28/2011
       China             Meat        Online              C   6/26/2010
       China           Snacks       Offline              L   6/15/2011
       China        Baby Food       Offline              C   8/28/2016
       China           Fruits       Offline              H   9/11/2015
       China           Snacks       Offline              L    9/8/2013
       China             Meat        Online              H    5/1/2016
       China             Meat        Online              L   10/5/2010
       China           Cereal        Online              C  11/22/2013
       China           Fruits        Online              L   2/20/2015
       China           Fruits        Online              H   7/24/2016
       China        Cosmetics       Offline              H   10/5/2014
       China           Cereal       Offline              H   3/29/2012
       China          Clothes        Online              M   5/14/2017

                 Order ID   Ship Date  Units Sold  Unit Price  Unit Cost  \
Region Country
Asia   China    834844052   5/20/2015        7762      437.20     263.33
       China    931632745    5/2/2012        9687      668.27     502.54
       China    833519256  10/20/2016        5725      109.28      35.84
       China    101010978   3/12/2014         248      421.89     364.69
       China    894569337   8/22/2012        1801      205.70     117.11
       China    916976726   3/16/2015        2645      421.89     364.69
       China    672215068  12/24/2010        2232      668.27     502.54
       China    863480603   1/12/2016        1954      668.27     502.54
       China    501834714    6/7/2016        2899       47.45      31.79
       China    487615144   12/1/2012        5012      205.70     117.11
       China    723061597  12/29/2012        8849      109.28      35.84
       China    189315736    8/1/2010        1588       47.45      31.79
       China    806404912  10/17/2015        1988       81.73      56.67
       China    998756206   9/18/2011        3011       81.73      56.67
       China    145628345   7/21/2010        3518      421.89     364.69
       China    775077140   6/22/2011        1404      152.58      97.44
       China    789592826  10/11/2016        6919      255.28     159.42
       China    338514792   9/12/2015        2904        9.33       6.92
       China    664562404   9/19/2013        7638      152.58      97.44
       China    826656234    5/1/2016        4805      421.89     364.69
       China    234863078   11/3/2010          59      421.89     364.69
       China    844554078   12/6/2013        1174      205.70     117.11
       China    160045325    4/5/2015        9823        9.33       6.92
       China    670059001    9/1/2016        4203        9.33       6.92
       China    188723504   11/6/2014        6334      437.20     263.33
       China    975320136   5/12/2012        7757      205.70     117.11
       China    461726891   6/19/2017        4103      109.28      35.84

                Total Revenue  Total Cost  Total Profit
Region Country
Asia   China       3393546.40  2043967.46    1349578.94
       China       6473531.49  4868104.98    1605426.51
       China        625628.00   205184.00     420444.00
       China        104628.72    90443.12      14185.60
       China        370465.70   210915.11     159550.59
       China       1115899.05   964605.05     151294.00
       China       1491578.64  1121669.28     369909.36
       China       1305799.58   981963.16     323836.42
       China        137557.55    92159.21      45398.34
       China       1030968.40   586955.32     444013.08
       China        967018.72   317148.16     649870.56
       China         75350.60    50482.52      24868.08
       China        162479.24   112659.96      49819.28
       China        246089.03   170633.37      75455.66
       China       1484209.02  1282979.42     201229.60
       China        214222.32   136805.76      77416.56
       China       1766282.32  1103026.98     663255.34
       China         27094.32    20095.68       6998.64
       China       1165406.04   744246.72     421159.32
       China       2027181.45  1752335.45     274846.00
       China         24891.51    21516.71       3374.80
       China        241491.80   137487.14     104004.66
       China         91648.59    67975.16      23673.43
       China         39213.99    29084.76      10129.23
       China       2769224.80  1667932.22    1101292.58
       China       1595614.90   908422.27     687192.63
       China        448375.84   147051.52     301324.32

### Sorting by Multi-Index

Sorting based on the multi-index is possible using the sort_index() method.

In [212]:
dg=dg.sort_index()

In [213]:
dg

                                     Item Type Sales Channel Order Priority  \
Region             Country
Asia               Bangladesh        Household       Offline              C
                   Bangladesh           Fruits        Online              L
                   Bangladesh          Clothes        Online              C
                   Bangladesh           Snacks        Online              H
                   Bangladesh  Office Supplies       Offline              M
...                                        ...           ...            ...
Sub-Saharan Africa Zimbabwe             Cereal       Offline              L
                   Zimbabwe          Beverages       Offline              H
                   Zimbabwe             Cereal        Online              L
                   Zimbabwe            Clothes       Offline              M
                   Zimbabwe               Meat       Offline              M

                              Order Date   Order ID   Ship Date  Units Sold  \
Region             Country
Asia               Bangladesh  6/21/2014  243892896   7/22/2014        2183
                   Bangladesh   1/8/2015  156616818    2/4/2015        5252
                   Bangladesh  7/11/2014  208590734   8/19/2014        5488
                   Bangladesh  5/10/2014  136126458    6/2/2014        1699
                   Bangladesh  9/15/2015  562147510  10/11/2015         795
...                                  ...        ...         ...         ...
Sub-Saharan Africa Zimbabwe    5/18/2014  207168519    7/6/2014        4623
                   Zimbabwe    2/18/2014  553903901    4/6/2014        1328
                   Zimbabwe    1/27/2012  190003240    3/8/2012        5036
                   Zimbabwe    3/15/2012  460751855   4/27/2012        5568
                   Zimbabwe     9/9/2012  317781960   9/20/2012        7599

                               Unit Price  Unit Cost  Total Revenue  \
Region             Country
Asia               Bangladesh      668.27     502.54     1458833.41
                   Bangladesh        9.33       6.92       49001.16
                   Bangladesh      109.28      35.84      599728.64
                   Bangladesh      152.58      97.44      259233.42
                   Bangladesh      651.21     524.96      517711.95
...                                   ...        ...            ...
Sub-Saharan Africa Zimbabwe        205.70     117.11      950951.10
                   Zimbabwe         47.45      31.79       63013.60
                   Zimbabwe        205.70     117.11     1035905.20
                   Zimbabwe        109.28      35.84      608471.04
                   Zimbabwe        421.89     364.69     3205942.11

                               Total Cost  Total Profit
Region             Country
Asia               Bangladesh  1097044.82     361788.59
                   Bangladesh    36343.84      12657.32
                   Bangladesh   196689.92     403038.72
                   Bangladesh   165550.56      93682.86
                   Bangladesh   417343.20     100368.75
...                                   ...           ...
Sub-Saharan Africa Zimbabwe     541399.53     409551.57
                   Zimbabwe      42217.12      20796.48
                   Zimbabwe     589765.96     446139.24
                   Zimbabwe     199557.12     408913.92
                   Zimbabwe    2771279.31     434662.80

[4999 rows x 12 columns]

### Cross-section (xs) for Slicing Multi-Index
The xs() method allows you to slice data along a particular level of the multi-index.

In [219]:
df_cross = dg.xs('China', level='Country')
df_cross

,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Region,,,,,,,,,,,,
Asia,Cosmetics,Offline,H,4/15/2015,834844052,5/20/2015,7762,437.20,263.33,3393546.40,2043967.46,1349578.94
Asia,Household,Online,L,3/29/2012,931632745,5/2/2012,9687,668.27,502.54,6473531.49,4868104.98,1605426.51
Asia,Clothes,Offline,C,9/26/2016,833519256,10/20/2016,5725,109.28,35.84,625628.00,205184.00,420444.00
Asia,Meat,Online,H,2/17/2014,101010978,3/12/2014,248,421.89,364.69,104628.72,90443.12,14185.60
Asia,Cereal,Online,L,7/26/2012,894569337,8/22/2012,1801,205.70,117.11,370465.70,210915.11,159550.59
Asia,Meat,Online,C,1/30/2015,916976726,3/16/2015,2645,421.89,364.69,1115899.05,964605.05,151294.00
Asia,Household,Online,H,11/30/2010,672215068,12/24/2010,2232,668.27,502.54,1491578.64,1121669.28,369909.36
Asia,Household,Offline,C,12/5/2015,863480603,1/12/2016,1954,668.27,502.54,1305799.58,981963.16,323836.42
Asia,Beverages,Offline,C,5/4/2016,501834714,6/7/2016,2899,47.45,31.79,137557.55,92159.21,45398.34
Asia,Cereal,Online,C,10/12/2012,487615144,12/1/2012,5012,205.70,117.11,1030968.40,586955.32,444013.08
Asia,Clothes,Online,L,12/19/2012,723061597,12/29/2012,8849,109.28,35.84,967018.72,317148.16,649870.56
Asia,Beverages,Online,M,6/26/2010,189315736,8/1/2010,1588,47.45,31.79,75350.60,50482.52,24868.08
Asia,Personal Care,Offline,C,9/30/2015,806404912,10/17/2015,1988,81.73,56.67,162479.24,112659.96,49819.28
Asia,Personal Care,Online,M,8/28/2011,998756206,9/18/2011,3011,81.73,56.67,246089.03,170633.37,75455.66
Asia,Meat,Online,C,6/26/2010,145628345,7/21/2010,3518,421.89,364.69,1484209.02,1282979.42,201229.60
Asia,Snacks,Offline,L,6/15/2011,775077140,6/22/2011,1404,152.58,97.44,214222.32,136805.76,77416.56
Asia,Baby Food,Offline,C,8/28/2016,789592826,10/11/2016,6919,255.28,159.42,1766282.32,1103026.98,663255.34
Asia,Fruits,Offline,H,9/11/2015,338514792,9/12/2015,2904,9.33,6.92,27094.32,20095.68,6998.64
Asia,Snacks,Offline,L,9/8/2013,664562404,9/19/2013,7638,152.58,97.44,1165406.04,744246.72,421159.32
Asia,Meat,Online,H,5/1/2016,826656234,5/1/2016,4805,421.89,364.69,2027181.45,1752335.45,274846.00
Asia,Meat,Online,L,10/5/2010,234863078,11/3/2010,59,421.89,364.69,24891.51,21516.71,3374.80
Asia,Cereal,Online,C,11/22/2013,844554078,12/6/2013,1174,205.70,117.11,241491.80,137487.14,104004.66
Asia,Fruits,Online,L,2/20/2015,160045325,4/5/2015,9823,9.33,6.92,91648.59,67975.16,23673.43
Asia,Fruits,Online,H,7/24/2016,670059001,9/1/2016,4203,9.33,6.92,39213.99,29084.76,10129.23
Asia,Cosmetics,Offline,H,10/5/2014,188723504,11/6/2014,6334,437.20,263.33,2769224.80,1667932.22,1101292.58
Asia,Cereal,Offline,H,3/29/2012,975320136,5/12/2012,7757,205.70,117.11,1595614.90,908422.27,687192.63
Asia,Clothes,Online,M,5/14/2017,461726891,6/19/2017,4103,109.28,35.84,448375.84,147051.52,301324.32

### Aggregating Data with Multi-Index
You can perform operations like groupby on multi-indexed DataFrames, which allows you to aggregate data at different levels

In [225]:
dg.groupby('Region')['Units Sold'].sum()

Region
Asia                                 3620036
Australia and Oceania                2111786
Central America and the Caribbean    2698776
Europe                               6582322
Middle East and North Africa         3013431
North America                         484760
Sub-Saharan Africa                   6639930
Name: Units Sold, dtype: int64

### Resetting the Multi-Index
To remove the multi-index and return to a flat structure, use reset_index().

In [237]:
dg = dg.reset_index()
dg

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Asia,Bangladesh,Household,Offline,C,6/21/2014,243892896,7/22/2014,2183,668.27,502.54,1458833.41,1097044.82,361788.59
1,Asia,Bangladesh,Fruits,Online,L,1/8/2015,156616818,2/4/2015,5252,9.33,6.92,49001.16,36343.84,12657.32
2,Asia,Bangladesh,Clothes,Online,C,7/11/2014,208590734,8/19/2014,5488,109.28,35.84,599728.64,196689.92,403038.72
3,Asia,Bangladesh,Snacks,Online,H,5/10/2014,136126458,6/2/2014,1699,152.58,97.44,259233.42,165550.56,93682.86
4,Asia,Bangladesh,Office Supplies,Offline,M,9/15/2015,562147510,10/11/2015,795,651.21,524.96,517711.95,417343.20,100368.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,Sub-Saharan Africa,Zimbabwe,Cereal,Offline,L,5/18/2014,207168519,7/6/2014,4623,205.70,117.11,950951.10,541399.53,409551.57
4995,Sub-Saharan Africa,Zimbabwe,Beverages,Offline,H,2/18/2014,553903901,4/6/2014,1328,47.45,31.79,63013.60,42217.12,20796.48
4996,Sub-Saharan Africa,Zimbabwe,Cereal,Online,L,1/27/2012,190003240,3/8/2012,5036,205.70,117.11,1035905.20,589765.96,446139.24
4997,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,M,3/15/2012,460751855,4/27/2012,5568,109.28,35.84,608471.04,199557.12,408913.92
4998,Sub-Saharan Africa,Zimbabwe,Meat,Offline,M,9/9/2012,317781960,9/20/2012,7599,421.89,364.69,3205942.11,2771279.31,434662.80

same

In [250]:
dg.loc[(dg['Region']=='Asia') & ((dg['Country']=="China") | (dg['Country']=='India')) ]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
112,Asia,China,Cosmetics,Offline,H,4/15/2015,834844052,5/20/2015,7762,437.20,263.33,3393546.40,2043967.46,1349578.94
113,Asia,China,Household,Online,L,3/29/2012,931632745,5/2/2012,9687,668.27,502.54,6473531.49,4868104.98,1605426.51
114,Asia,China,Clothes,Offline,C,9/26/2016,833519256,10/20/2016,5725,109.28,35.84,625628.00,205184.00,420444.00
115,Asia,China,Meat,Online,H,2/17/2014,101010978,3/12/2014,248,421.89,364.69,104628.72,90443.12,14185.60
116,Asia,China,Cereal,Online,L,7/26/2012,894569337,8/22/2012,1801,205.70,117.11,370465.70,210915.11,159550.59
117,Asia,China,Meat,Online,C,1/30/2015,916976726,3/16/2015,2645,421.89,364.69,1115899.05,964605.05,151294.00
118,Asia,China,Household,Online,H,11/30/2010,672215068,12/24/2010,2232,668.27,502.54,1491578.64,1121669.28,369909.36
119,Asia,China,Household,Offline,C,12/5/2015,863480603,1/12/2016,1954,668.27,502.54,1305799.58,981963.16,323836.42
120,Asia,China,Beverages,Offline,C,5/4/2016,501834714,6/7/2016,2899,47.45,31.79,137557.55,92159.21,45398.34
121,Asia,China,Cereal,Online,C,10/12/2012,487615144,12/1/2012,5012,205.70,117.11,1030968.40,586955.32,444013.08
122,Asia,China,Clothes,Online,L,12/19/2012,723061597,12/29/2012,8849,109.28,35.84,967018.72,317148.16,649870.56
123,Asia,China,Beverages,Online,M,6/26/2010,189315736,8/1/2010,1588,47.45,31.79,75350.60,50482.52,24868.08
124,Asia,China,Personal Care,Offline,C,9/30/2015,806404912,10/17/2015,1988,81.73,56.67,162479.24,112659.96,49819.28
125,Asia,China,Personal Care,Online,M,8/28/2011,998756206,9/18/2011,3011,81.73,56.67,246089.03,170633.37,75455.66
126,Asia,China,Meat,Online,C,6/26/2010,145628345,7/21/2010,3518,421.89,364.69,1484209.02,1282979.42,201229.60
127,Asia,China,Snacks,Offline,L,6/15/2011,775077140,6/22/2011,1404,152.58,97.44,214222.32,136805.76,77416.56
128,Asia,China,Baby Food,Offline,C,8/28/2016,789592826,10/11/2016,6919,255.28,159.42,1766282.32,1103026.98,663255.34
129,Asia,China,Fruits,Offline,H,9/11/2015,338514792,9/12/2015,2904,9.33,6.92,27094.32,20095.68,6998.64
130,Asia,China,Snacks,Offline,L,9/8/2013,664562404,9/19/2013,7638,152.58,97.44,1165406.04,744246.72,421159.32
131,Asia,China,Meat,Online,H,5/1/2016,826656234,5/1/2016,4805,421.89,364.69,2027181.45,1752335.45,274846.00
132,Asia,China,Meat,Online,L,10/5/2010,234863078,11/3/2010,59,421.89,364.69,24891.51,21516.71,3374.80
133,Asia,China,Cereal,Online,C,11/22/2013,844554078,12/6/2013,1174,205.70,117.11,241491.80,137487.14,104004.66
134,Asia,China,Fruits,Online,L,2/20/2015,160045325,4/5/2015,9823,9.33,6.92,91648.59,67975.16,23673.43
135,Asia,China,Fruits,Online,H,7/24/2016,670059001,9/1/2016,4203,9.33,6.92,39213.99,29084.76,10129.23
136,Asia,China,Cosmetics,Offline,H,10/5/2014,188723504,11/6/2014,6334,437.20,263.33,2769224.80,1667932.22,1101292.58
137,Asia,China,Cereal,Offline,H,3/29/2012,975320136,5/12/2012,7757,205.70,117.11,1595614.90,908422.27,687192.63
138,Asia,China,Clothes,Online,M,5/14/2017,461726891,6/19/2017,4103,109.28,35.84,448375.84,147051.52,301324.32
139,Asia,India,Snacks,Offline,M,1/16/2010,646482598,1/25/2010,7422,152.58,97.44,1132448.76,723199.68,409249.08
140,Asia,India,Office Supplies,Online,C,4/30/2010,914088094,5/3/2010,7835,651.21,524.96,5102230.35,4113061.60,989168.75
141,Asia,India,Office Supplies,Online,M,9/4/2012,451834905,9/21/2012,6844,651.21,524.96,4456881.24,3592826.24,864055.00
142,Asia,India,Baby Food,Offline,M,1/7/2012,125532805,2/17/2012,6802,255.28,159.42,1736414.56,1084374.84,652039.72
143,Asia,India,Personal Care,Online,C,12/10/2014,686294305,12/15/2014,8591,81.73,56.67,702142.43,486851.97,215290.46
144,Asia,India,Personal Care,Offline,C,6/23/2012,537588775,7/19/2012,3320,81.73,56.67,271343.60,188144.40,83199.20
145,Asia,India,Fruits,Online,H,12/20/2015,820936048,2/8/2016,2074,9.33,6.92,19350.42,14352.08,4998.34
146,Asia,India,Household,Online,C,5/20/2010,791411149,6/30/2010,5001,668.27,502.54,3342018.27,2513202.54,828815.73
147,Asia,India,Personal Care,Online,L,10/14/2011,413192212,11/17/2011,1612,81.73,56.67,131748.76,91352.04,40396.72
148,Asia,India,Snacks,Online,H,12/15/2010,585983121,1/9/2011,4282,152.58,97.44,653347.56,417238.08,236109.48
149,Asia,India,Personal Care,Offline,H,3/14/2012,448354041,4/5/2012,6779,81.73,56.67,554047.67,384165.93,169881.74
150,Asia,India,Office Supplies,Online,H,6/23/2016,404074418,6/30/2016,3455,651.21,524.96,2249930.55,1813736.80,436193.75
151,Asia,India,Fruits,Offline,H,3/21/2014,391673171,4/11/2014,3650,9.33,6.92,34054.50,25258.00,8796.50
152,Asia,India,Beverages,Online,C,12/27/2010,340390193,1/26/2011,7877,47.45,31.79,373763.65,250409.83,123353.82
153,Asia,India,Fruits,Offline,L,10/24/2010,461685264,10/24/2010,1784,9.33,6.92,16644.72,12345.28,4299.44
154,Asia,India,Baby Food,Offline,M,12/24/2010,708899104,1/1/2011,7853,255.28,159.42,2004713.84,1251925.26,752788.58
155,Asia,India,Baby Food,Online,L,5/4/2011,382555377,6/19/2011,5492,255.28,159.42,1401997.76,875534.64,526463.12
156,Asia,India,Office Supplies,Offline,L,4/28/2010,692029941,4/30/2010,5893,651.21,524.96,3837580.53,3093589.28,743991.25
157,Asia,India,Cosmetics,Online,H,2/24/2010,266445338,2/28/2010,5951,437.20,263.33,2601777.20,1567076.83,1034700.37
158,Asia,India,Household,Online,M,3/14/2015,477863490,4/17/2015,9281,668.27,502.54,6202213.87,4664073.74,1538140.13
159,Asia,India,Beverages,Online,M,6/29/2015,773767793,8/12/2015,3940,47.45,31.79,186953.00,125252.60,61700.40
160,Asia,India,Snacks,Online,M,4/19/2013,864368951,6/2/2013,4836,152.58,97.44,737876.88,471219.84,266657.04
161,Asia,India,Baby Food,Online,C,8/3/2012,292234885,8/4/2012,7651,255.28,159.42,1953147.28,1219722.42,733424.86
162,Asia,India,Baby Food,Online,H,7/3/2016,792735946,7/4/2016,7038,255.28,159.42,1796660.64,1121997.96,674662.68
163,Asia,India,Office Supplies,Offline,L,2/20/2012,939539897,3/3/2012,9589,651.21,524.96,6244452.69,5033841.44,1210611.25